#hero{
    height:100vh;
    width:100%;
    display:flex;
    align-items: center;
    overflow:hidden;
    position:relative;
}

#hero h1 {
    font-family:'Cinzel Decorative';
    font-size:8rem;
}

.namesUp, .namesDown{
    display:flex;
    flex-direction: row;
    gap:50px;
    transition:margin-left 5s linear,margin-right 5s linear,opacity 5s ease;
}

.namesBothlWrap{
    display:flex;
    flex-direction:column;
    gap:30px;
    width:100%;
}

.namesUpWrap, .namesDownWrap{
    width:100%;
    overflow:hidden;
}

.namesUpWrap{
    display:flex;
    justify-content:end;
}

.namesDownWrap{
    display:flex;
    justify-content:baseline;
}

.heroName{
    white-space: nowrap;
}

.heroVideoContainer{
    width:100%;
    height:100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:absolute;
}

#heroVideo{
    position: absolute;
    min-height:100vh;
    min-width:100%;
    z-index:-1;
    overflow:hidden;
    background-image:url("../../images/videoPosterHero.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}

.logoCircle{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    background:var(--DarkGradient);
    border-radius: 50%;
    min-height:150px;
    min-width:150px;
    height:50%;
    aspect-ratio: 1 / 1;
    opacity:0;
    transition: opacity 2s ease;
}

.logoCircle h1{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    text-align: center;
}
.card{
    position:absolute;
    bottom:5vh;
    right:5vh;
    height:fit-content;
    width:fit-content;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px 40px;
    background: RGBA(00, 00, 00, 0.2);
   backdrop-filter: blur(10px);
    border-radius: 10px;
}
.card .contactInformation{
    gap:10px;
    width:fit-content;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}

.card .contactItems a{
    font-size: 1rem;
    width:fit-content;
}

.card .contactItems{
    justify-content: baseline;
    width:fit-content;
}

@media screen and (max-width: 1000px){
    #hero h1 {
        font-size:3rem;
    }

    .logoCircle{
        width:150px;
        height:150px;
    }

    .card{
        right:50%;
        transform:translate(50%, 0)
    }
  }

  @media screen and (max-height: 500px){
    #hero h1 {
        font-size:3rem;
    }
  }