#hero{
    height:100vh;
    width:100%;
    display:flex;
    align-items: center;
    overflow:hidden;
    position:relative;
}

#hero h1 {
    font-family:'Cinzel Decorative';
    font-size:8rem;
}

.namesUp, .namesDown{
    display:flex;
    flex-direction: row;
    gap:50px;
    transition:margin-left 5s linear,margin-right 5s linear,opacity 5s ease;
}

.namesBothlWrap{
    display:flex;
    flex-direction:column;
    gap:30px;
    width:100%;
}

.namesUpWrap, .namesDownWrap{
    width:100%;
    overflow:hidden;
}

.namesUpWrap{
    display:flex;
    justify-content:end;
}

.namesDownWrap{
    display:flex;
    justify-content:baseline;
}

.heroName{
    white-space: nowrap;
}

/* h1.heroName1, h1.heroName2{
    margin:0;
} */

#heroVideo{
    position: absolute;
    min-height:100vh;
    min-width:100%;
    z-index:-1;
    overflow:hidden;
    background-image:url("../../images/videoPosterHero.png");
    background-size:cover;
    background-repeat: no-repeat;
}

.logoCircle{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    background-color:var(--Darks-Dark);
    border-radius: 50%;
    min-height:300px;
    height:50%;
    aspect-ratio: 1 / 1;
    opacity:0;
    transition: opacity 2s ease;
}

.logoCircle h1{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    text-align: center;
}

@media screen and (max-width: 1000px){
    #hero h1 {
        font-size:3rem;
    }

    .logoCircle{
        min-height:50px;
    }
  }

  @media screen and (max-height: 500px){
    #hero h1 {
        font-size:3rem;
    }

    .logoCircle{
        min-height:150px;
    }
  }