.experienceInfo{
    height:100vh;
    width:50%;
    background-color: var(--Darks-Dark);
    position:relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.experienceInfoOuter{
    width:80%;
    height:80vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    opacity:0;
    transition:opacity 0.5s ease;
}

.experienceInfoOuterAnimation{
    opacity:100%;
}

.experienceInfoInner{
    display:flex;
    flex-direction: column;
    gap:30px;
}

.experienceInfo h2{
    font-family: "Krona One";
    font-size:2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color:var(--Normals-White);
}

.experienceInfo p{
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 150;
    line-height: normal;
    color:var(--Normals-White);
}

.experienceLoveContainer{
    color:var(--Normals-White);
    font-family:'Inter';
    padding-bottom:20px;
    /* border-bottom:1px solid var(--Normals-White); */
    border-bottom:solid;
    border-image: var(--Gradient) 1;
}

.experienceLoggaContainer{
    height:50px;
    background-size:contain;
    background-repeat: no-repeat;
}

.experienceCommentContainer{
    color:var(--Normals-White);
    font-family:'Inter';
    padding-top:20px;

    border-top:solid;
    border-image: var(--Gradient) 1;
    
}

.experienceDescriptionContainer a{
    color:white;
}

@media screen and (max-width: 1000px) and (max-height: 900px){
    .experienceInfo{
        height:70vh;
        width:100%;
    }

    
    .experienceInfoOuter{
        height:100%;
        
        justify-content: center;
        align-items: center;
    }
    .experienceInfoInner{
        gap:20px;
    }

    .experienceLoveContainer{
        display:none;
    }
    .experienceInfo h2{
        font-family: "Krona One";
        font-size:1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color:var(--Normals-White);
    }
    .experienceCommentContainer{
        display:none;
    }

    .experienceLoggaContainer{
        display:none;
    }

    .experienceLinksContainer{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  }

  @media screen and (max-height: 750px){
    .experienceLoggaContainer{
        display:none;
    }

    .experienceInfoOuter{
        padding:20px 0;
        height:95vh;
    }
  }