.experienceSection{
    height:300vh;
    width:100%;
    position:relative;
}

.experienceSectionContent{
    overflow:hidden;
    height:100vh;
    width:100%;
    position:-webkit-sticky;
    position:sticky;
    top:0;
}

#experience1{
    position:relative;
    display:flex;
    flex-direction:row;
}