.experienceSlider{
    width:50%;
    height:100vh;
    background-color:var(--Normals-White);
    position:relative;
    display:flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    
}


.experienceBackground{
position:absolute;
width:100%;
height:100%;
display:flex;
flex-direction: column;
justify-content: center;
background-size:100%;
background-repeat:no-repeat;
background-position: center;
left:0;
transition:left 1s ease;
}

.experienceBackgroundAnimateLeft{
    left:-100%;
}

.experienceBackgroundAnimateRight{
    left:100%;
}

.experienceBackgroundAnimateActual{
    left:0;
}


.experienceForeground{
    width:100%;
    height:65%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-image: url;
    background-repeat:no-repeat;
    background-position: center;
    background-size:contain;
}

.dotsContainer{
    width:100%;
    height:100px;
    position:absolute;
    bottom:0;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.experienceDots{
    width:20px;
    height:20px;
    background-color:var(--Whites-Grayish);
    border-radius:100px;
    transition:background-color 0,5s ease-in-out;
}

.actualDot{
    background-color:var(--Darks-Dark);
}

/* #squidFactorBack0{
    
}

#squidFactorBack1{
    left:100%;
}

#squidFactorBack2{
   left:-100%;
}  */