.experienceSection{
    height: 400vh;
    width:100%;
    position:relative;
    background-color:var(--Darks-Dark);
}

.experienceSectionContent{
    overflow:hidden;
    height:100vh;
    width:100%;
    position:-webkit-sticky;
    top:0;
    position:sticky;
}

.experienceSectionContentSticky{
    position:sticky;
}

.experienceIndividual{
    position:absolute;
    display:flex;
    flex-direction:row;
    opacity:0;
    transition: opacity 1s ease;
}

.experienceAnimate{
    opacity:1;
}