/*<<<<<<<< Pallette <<<<<<<<*/
:root{
  --lightBlue: #48D8FF;
  --cyanDark: rgb(49, 165, 140);
  --cyanLight: #48ffd7;

  --blueBase: #448EFC;
  --blueBasergb:68, 142, 252;
  --blue1: #99C1FC;

  --purpleBase: #674CFC;
  --purple1: #AC9DFC;
  --purple3: #4423FA;
  --purple4: #2D0AF2; /* 45, 10, 242 */
  --purple4rgb:103, 76, 252;
  
  
  --cyanBase: #32FCD4;
  --cyan1: #8FFCE7;
  --cyan4: #00F0C1;

}

/*<<<<<<<< Fonts <<<<<<<<*/

@font-face {
  font-family: "fall";
  src: url("/src/fonts/Fall in love.ttf");
}

@font-face {
  font-family: "Photograph";
  src: url("/src/fonts/Photograph Signature.ttf");
}

@font-face {
  font-family: "boldFont";
  src: url("/src/fonts/theboldfont.ttf");
}

@font-face {
  font-family: "Champagne";
  src: url("/src/fonts/Champagne & Limousines.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("/src/fonts/Poppins-Regular.ttf");
}



/*<<<<<<<< Generall <<<<<<<<*/

.fallback {
  width:100%;
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
}

.fallback .image {
  border-radius:50%;
  background-image:url("./images/DSC_7255.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 250px;
  width:250px;
}

*{
  margin:0;
  padding:0;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1{
  font-family: "Champagne";
  letter-spacing: 5px;
  font-size:3em;
  font-weight: 100;
}
h2{
  font-family: "boldFont";
}

div{
  font-family: "Poppins";
}

body{
  overflow:hidden;
}

#App {
  width:100%;
  height:auto;
}

#App-body{
  position:relative;
  width:100%;
  height:100vh;
  overflow-y:scroll;
  scroll-behavior:smooth;
  scroll-snap-type: y mandatory;
}

.section{
  width:100%;
  height:auto;
  min-height:100vh;
  margin-top:50px;
  scroll-snap-align:start;
  overflow-x:hidden;
}

/*<<<<<<<< Card and menu section <<<<<<<<*/

#cardMenuContainer{
  margin-top:0;
  background-image:url(./images/bodyback.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display:flex;
  justify-content:center;
  align-items: center;
}

#welcomeCard{
  margin-top:20px;
  /* min-width:100%; */
  min-height:calc(100% - 20px);
  display:flex;
  flex-direction:column;
  justify-content: space-around;
  align-items: center;
  z-index:5;
  /* background-color:yellow; */
}

.welcomeContainer {
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  transform: translate(50px , 0);
}

#welcome{
  font-family:"fall";
  opacity:0;
  color:var(--purpleBase);
  font-size: 5em;
  transition: opacity 3s;
}

#welcome.show{
opacity:1;
}

.NavigationScreen{
  height:100%;
  width:100%;
  background-color:rgba(var(--blueBasergb),0.9);
  z-index:10;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: height 1s, width 1s;
  display:none;
}
.NavigationScreen.active{
  height:100%;
  width:100%;
  right:0;
  position:fixed;
  display:flex;
}

.menuIcon{
  height:100px;
  width:100px;
  background-color:var(--purpleBase);
  border-radius:50px;
  position:fixed;
  color:white;
  align-self:flex-end;
  /* right:67px; */
  /*margin right is declared with js*/
  top:10px;
  display:flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  font-size: 3em;
  transition: background-color 1s;
  z-index:20;
  visibility:visible;
}

.menuIcon.contrast{
  background-color:white;
  color:var(--purpleBase);
}
.menuIcon.contrast:hover{
  background-color:var(--purpleBase);
  color:white;
}

.menuIcon.normal:hover{
  background-color:white;
  color:var(--purpleBase)
 }

 .NavigationScreen{
   z-index:15;
 }

.NavigationScreen .navUl ul{
  display:flex;
  flex-direction:column;
}

.NavigationScreen .navUl ul li{
  text-align: center;
}


/*<<<<<<<< header section <<<<<<<<*/

.navUl a{
  text-decoration: none;
  color:white;
}

.navUl a:hover, .navUl a:focus     {
  text-decoration: none;
  border:none;
  border-bottom:1px solid white
}

.navUl li{
  display:inline;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 1000;
  margin:30px;
}


/*<<<<<<<< Language Menu <<<<<<<<*/

.languageMenu .flags{
  width:180px;
  display:flex;
  align-items: center;
  justify-content:space-between;
}
.NavigationScreen .languageMenu {
  margin:30px;
}

.languageMenu .flags .flagLink{
  cursor:pointer;
}

/*<<<<<<<< Card <<<<<<<<*/


#card{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top:50px;
}

#cardContent{
  display:flex;
  justify-content: center;
  align-items: center;
}

#cardPic{
  background-image: url(./images/DSC_7255.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 250px;
  width:250px;
  transform: translate(125px,0);
  margin-left:-125px;
  border-radius: 50%;
  z-index:10;

}

#cardBack{
  background-color:rgba(0, 0, 0,0.5);
  width: 700px;
  height:350px;
  border-radius:40px;
  z-index:5;
}

#cardInfo{
  width:575px;
  height:350px;
  margin-left: 125px;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

#cardInfo p{
  width: 80%;
  color:white;
  display:flex;
  align-items: center;
}

#signature{
  font-family: "Photograph",Arial, Helvetica, sans-serif;
  font-size: 3em;
  color:white;
  text-align: end;
  width: 80%;
}

/*<<<<<<<< Utbildning section <<<<<<<<*/

#utbildningContainer{
  display:flex;
  justify-content:flex-end;
  align-items: center;
  background-image: url(./images/college-student-g87c37eb57_1920.jpg);
  background-size:cover;
  background-position: -200px 0;
}

.utbildning{
  width:60%;
  display:flex;
  padding:50px;
  background-color: rgba(var(--purple4rgb),0.8);
  border-radius: 40px 0 0 40px;
  color:white;
  transform:translate(20%);
  opacity:0;
  transition: transform 0.5s, opacity 0.5s;
}

.utbildning.show{
  transform:translate(0);
  opacity:1;
}

.utbildning #title{
width:40%;
margin-right:20px;
}

.utbildning #lista{
  width:60%;
  display:flex;
  flex-direction: column;
  align-items: center;
  border-left:1px solid white;
}

.utbildning #lista ul{
  list-style-type: none;
}
.utbildning #lista li{
  margin-left:20px;
}

.utbildning p {
  margin: 40px 0;
}

/*<<<<<<<< Knowledge section <<<<<<<<*/

#kompetenserContainer{
  display:flex;
  justify-content: center;
  align-items: center;
  height:100%;
}

.kompetenser{
  width:70%;
  height:80%;
  display:flex;
  align-items: center;
  justify-content: center;
  background-image: url("./images/backgroundbody.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.kompetenserContent{
  width:80%;
  height:70%;
  min-height:600px;
  display:flex;
  position:relative;
}

#titleContainer{
  border-left: 1px solid white;
  padding-left:50px;
  display:flex;
  width:50%;
  flex-direction: column;
  /* justify-content: space-between; */
  color:white;
}

#titleContainer h1{
  text-align: center;
  width:100%;
}

#titleContainer #fish{
  background-image: url("./images/pez.png");
  width:300px;
  height:300px;
  background-size: contain;
  background-repeat: no-repeat;
  align-self:center;
  position:absolute;
  bottom: -100px;
  right:-100px;
 }

#kompIcons{
  display:flex;
  align-items: center;
  justify-content:space-around;
  width:70%;
  z-index:10;
}

#kompIcons .column{
  height:80%;
  width:40%;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}

.kompIcon {
  display:flex;
  align-items: center;
}

.kompIcon .icon{
  width:50px;
  height:50px;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right:20px;
}


.knowledge{
  height:100%;
  background-color: white;
  transition: background-color 2s;
}

.knowledge.show{
  background-color:var(--purpleBase);
}

.kompIcon .nk {
  width:100%;
}

.kompIcon .nk .knowledgeContainer{
  border:1px solid white;
  height:10px;
  width:100%;
}

.kompIcon .nk .name {
  font-weight: bold;
  color:var(--purpleBase);
}

.skillsDescription{
  width:90%;
  align-self: center;
}

/*<<<<<<<< Experience section <<<<<<<<*/

 #experienceContainer{
   position:relative;
   box-shadow: inset 0 40px 40px 0 white;
 }

 .experienceTitleContainer, #experienceTitleGhost{
  width:50vw;
 }

 .experienceTitleContainer{
  height:100vh;
  display:flex;
  justify-content: flex-end;
  align-items:center;
  position:absolute;
  top:0;
  z-index:10
 }

 #experienceTitle{
  width:100%;
  height:50%;
  padding:50px;
  background-color: rgba(68, 143, 252, 0.5);
  border-radius: 0 50px 50px 0;
  /* top:0; */
 }

 #experienceTitle h1{
   color:white;
   text-align: end;
 }

 .experienceTitleGhost{
   width:50%;
   display:flex;
   align-items: center;
   justify-content: baseline;  
   z-index:20;
 }

 .experienceTitleGhost h2{
  padding-left: 50px;
  font-family: "boldFont";
  letter-spacing: 5px;
  font-size:5em;
  font-weight: 100;
  color:var(--purpleBase);
  transform:translate(-20%, 0);
  opacity:0;
  transition:transform 1s, opacity 1s;
}

.experienceTitleGhost h2.show{
  transform:unset;
  opacity:1;
}

.experienceSectionContainer{
  display:flex;
  flex-direction: row;
 }

.experienceSection {
  width:50%;
  display:flex;
  align-items: center;
  justify-content:center; 
}

 .experienceSectionsPuffs {
  width:100%;
  height:70%;
  display:flex;
  align-items:center;
  justify-content:space-around;
  color:white;
}

 .experience{
   width:45%;
   height:500px;
   background-color:var(--blueBase);
   display:flex;
   flex-direction: column;
   align-items: center;
   font-size:0.9em;
 }

 .experience .background{
   height:100%;
   width:100%;
   background-size:contain;
   background-repeat: no-repeat;
   background-position: 50% 50%;
 }

 .experience .backgroundContainer{
   height:50%;
   width:100%;
   background-color:white;
 }

 .experience .textContainer{
   display:flex;
   height:50%;
   width:100%;
   justify-content:center;
   align-items: center;
 }

 .experience .text{
  height:90%;
  /* margin:5% 5% 1% 5%; */
  width:90%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
 }

.experience .title{
  margin-top:10px;
}

.experience:hover .description, .experience:hover .content{
  display:none;
}

 .experience .lankar {
    display:none;
    height:100%;
    width:100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .experience .lankar a {
    background-color: white;
    color:var(--purpleBase);
    padding:10px;
    margin:10px;
    text-decoration: none;
    text-align:center;
    border-radius:50px;
    width:90%;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s;
 }
 .experience .lankar a:hover{
    background-color: var(--purpleBase);
    color:white;
 }

 .experience .lankar svg {
   margin-right:5px;
 }

 .experience .text .content {
  text-align: center;
  letter-spacing: 2px;
  /* margin-bottom:10px; */
  width:100%;
 }

 .experience:hover .lankar{
  display:flex;
 }

 #javaScript .experience {
  height:500px;
  width:95%;
  display:flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
}

#javaScript .experience:hover .description{
  display:flex;
}

.iframeInnerContainer{
  position:relative;
  width:100%;
  height:70%;
  z-index:1;
  background-color:white;
}

#javaScript .textContainer{
  height:30%;
}


.iframeContainer iframe{ 
  width:100%;
  height:100%;
}

.iframeContainer .text{
/* height:25%; */
position:relative;
width:90%;
background-color:#448EFC;
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
box-sizing:border-box;
}

.startFullScreen{
  position:relative;
  height:70%;
  width:100%;
  align-items: center;
  justify-content:center;
  font-family:"boldFont";
  color:var(--purple1);
  font-size:2em;
  display:none;
  text-align: center;
  background-color:black;
}

/* .iframeInnerContainer .button, .fullScreen .button{
  height:50px;
  width:50px;
  z-index:120;
  background-color:grey;
  position:absolute;
  bottom:7%;
  right:7%;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  color:black;
} */

.fullScreen iframe{
  width:100%;
  height:100%;
  border-style: none;
}



#ux .background{
  background-size:80%;
}

#design .background{
  background-position: 50% -10px;
}

#research #thesis .background {
  background-size: 70%;
}

#webDevelopment .background{
  background-size:cover;
}

/*<<<<<<<< Footer section <<<<<<<<*/

 #footerContainer{
   position:relative;
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: rgb(49, 165, 140);
 }

 footer {
   display:flex;
   flex-direction: column;
   justify-content:space-between;
 }

 footer a, footer h1{
  text-decoration: none;
  /* color:rgb(49, 165, 140); */
  text-align: center;
  /* display:flex; */
  color:white;
 }

 footer a{
  margin-top:20px;
 }

 footer a svg{
   transform:translate(0, 3px);
   margin-right:5px;
 }

#arrow{
  height:100px;
  width:100px;
   background-color:white;
   border-radius:50px;
   position:absolute;
   color:white;
   align-self:flex-end;
   display:flex;
   justify-content: center;
   align-items: center;
   transition: background-color 1s;
   bottom:10px;
   right:10px;
 }

 #arrow svg{
   display:flex;
   align-items: center;
   justify-content: center;
 }

 #arrow a {
   margin:0;
   color:var(--purpleBase);
   font-size: 3em;
 }

 #arrow:hover{
  background-color:var(--purpleBase)
 }
 #arrow:hover a{
   color: white;
}

@media (max-width: 1650px){
  .utbildning{
    width:80%;
  }
  .kompetenser{
    width:90%;
    height:90%;
  }
}

@media (max-width: 1300px){

  .kompetenserContent{
    flex-direction:column;
    align-items: center;
    justify-content: space-evenly;
  }

  #titleContainer{
    border:none;
    padding:0;
    width:100%;

  }
  #titleContainer h1{
    text-align:center;
  }

  #titleContainer #fish{
    display:none;
    
  }

  #kompIcons{
    order:2;
    /* height:70%; */
    width:100%;
    flex-grow:2;
  }

  .experienceSectionContainer{
    height:unset;
    min-height:800px;
  }
  
  .experienceTitleContainer{
    height: 100px;
    width:400px;
    min-width:300px;
    justify-content:start;
    top:20px;
  }

  #experienceTitle{
  height:100%;
  padding:0;
  display:flex;
  align-items: center;
  }

  #experienceTitle h1{
    text-align: start;
    padding-left:50px;
  }

  .experienceTitleGhost{
    width:100%;
    margin-top:100px;
    position:absolute;
  }

  .experienceSection{
    width:100%;
    height:auto;
    /* min-height:100vh; */
    min-height:unset;
    align-items: flex-end;
  }
  .experienceSectionsPuffs{
    width:100%;
    height:calc(100% - 200px);
  }

  .experience{
    width:35%;
    min-height:400px;
    height:90%;
  }

  #javaScript .experience{
    height:70vh;
    min-height:600px;
    width:80%;
  }
}

@media (max-width: 1100px){
  
  #titleContainer{
    position:relative;
    order:1;
    border:none;
    z-index:20;
  }

  #utbildningContainer{
    background-position:40% 0;
  }

  .utbildning{
    width:100%;
    flex-direction:column;
    border-radius:0;
  }

  .utbildning #title {
    width:100%;
  }

  .utbildning #lista{
    align-self: flex-end;
    width:unset;
  }

  .experienceTitleGhost h2{
    font-size:4em;
    margin-top:3px;
  }

  .experience {
    width:45%;
  }

  .experience .lankar{
    display:flex;
    justify-content: flex-end;
    height:unset;
  }
  .experience .lankar a:hover{
    background-color: white;
    color:var(--purpleBase);
   }

  .experience:hover .description, .experience:hover .content{
    display:unset;
  }

  .experience .backgroundContainer{
    height:40%;
  }
 
  .experience .textContainer{
    height: 60%;
  }

}

@media (max-width: 900px) {
  .welcomeContainer {
    transform: unset;
  }

  #welcome{
    font-size:3em;
  }

  #cardContent{
   flex-direction: column; 
  }

  #cardContent #cardPic{
    transform:unset;
    margin:0;
    height:200px;
    width:200px;
  }
  #cardInfo{
    margin-top:110px;
    width:100%;
    height:auto;
    margin-left:0;
  }

  #cardBack{
    width:90%;
    height:auto;
    margin-top:-100px;
    z-index:-1;
  }

  .experienceTitleGhost{
    margin-top:110px;
  }

  .experienceTitleGhost h2{
    font-size:2em;
  }
}

@media (max-width: 800px) {
 .kompetenser{
   width:100%;
   height:100%;
 }

  .kompetenserContent{
    width:90%;
  }

  .startFullScreen{
    display:flex;
  }

  .iframeContainer .iframeInnerContainer {
    display:none;
  }
  
}

@media (max-width: 600px) {
  .section{
    scroll-snap-align:start;
    /* min-height:100vh; */
  }

  .menuIcon{
    height:50px;
    width:50px;
    font-size: 2em;
  }

  #arrow {
    height:50px;
    width:50px;
    font-size: 0.7em;
    /* margin-right:20px; */
  }

  #kompetenserContainer{
    height:auto;
  }

  .kompetenser{
    min-height:1000px;
    height:unset;
  }

  #kompIcons{
    flex-direction:column;
    height:100%;
    min-height:fit-content;
    align-items: center;
    justify-content: center;
  }

  #titleContainer {
    height:auto;
    margin-top:40px;
  }

  #kompIcons .column{
    height:auto;
    width:80%;
  }

  .experienceSectionContainer{
    height:unset;
  }

  .experienceSection{
    margin-top:200px;
    align-items: baseline;
    height:unset;
    min-height:unset;
  }

  .experienceSectionsPuffs{
    flex-direction:column;
    height:auto;
    gap:50px;
    justify-content: space-around;
  }

 .experience{
  height:500px;
  width:80%;
  }

  .experienceTitleGhost h2{
    transform:unset;
    opacity:1;
  }

  #utbildning{
    padding:20px;
    transform:unset;
    opacity:1;
  }
 
  
}

@media (max-width: 510px) {
 
  .section{
    scroll-snap-align: none;
  }

  .languageMenu .flags{
    font-size:0.7em;
  }
  #card{
    margin-top:20px;
  }

   #cardContent #cardPic{
     
     height:150px;
     width:150px;
   }

   #cardInfo{
     margin-top:80px;
     width:100%;
     height:auto;
     margin-left:0;
   }
 
   #cardBack{
     width:90%;
     height:auto;
     margin-top:-75px;
     
   }

  #titleContainer #fish{
    z-index:-1;
  }

  .experienceSection{
    height:unset;
  }

  #experienceTitle h1{
    padding:10px;
  }

  #experienceTitle {
    width:300px;
  }

  .experienceTitleGhost{
    margin-top:110px;    
  }

  .experienceTitleGhost h2{
    font-size:2em;
    padding-left:10px;
  }
  
  .experience{
    width:90%;
    height:600px;
  }

}


@media (max-height: 510px) {

  .NavigationScreen .navUl li{
    margin:10px;
    }
  .NavigationScreen .languageMenu{
    margin:10px;
  }

  #card{
    margin-top:20px;
  }

   #cardContent #cardPic{
     
     height:150px;
     width:150px;
   }

   #cardInfo{
     margin-top:80px;
     width:100%;
     height:auto;
     margin-left:0;
   }
 
   #cardBack{
     width:90%;
     height:auto;
     margin-top:-75px;
     
   }
  
}

@media (max-height: 650px) {
  .section{
    scroll-snap-align: none;
  }

  .languageMenu .flags{
    font-size:0.7em;
  }
  .menuIcon{
    height:50px;
    width:50px;
    font-size: 2em;
  }

  #arrow {
    height:50px;
    width:50px;
    font-size: 0.7em;
    /* margin-right:20px; */
  }
}

@media (max-height:900px){
  
  #kompetenserContainer{
    min-height:1000px;
    /* height:auto; */
  }

  /* .kompetenser{
    min-height:800px;
  }  */

  #kompIcons{
    height:unset;
    align-items: center;
  }

  #titleContainer {
    height:auto;
  }
}

@media(max-height:700px) and (max-width:600px) {
.experienceSectionContainer{
  height:unset;
}

.experienceSection{
  margin-top:200px;
  align-items: baseline;
  height:unset;
  min-height:unset;
}

.experienceSectionsPuffs{
  flex-direction:column;
  height:auto;
  gap:50px;
  justify-content: space-around;
}

.experience{
height:500px;
width:80%;
}

.experienceTitleGhost h2{
  transform:unset;
  opacity:1;
}
}

