.aboutMeTrack{
    height:180vh;
    width:100%;
}
.aboutMe{
    position:sticky;
    top:0;
    height: 100vh;
    width:100%;
    background-image:url('../../images/aboutMe.jpg');
    background-position:center;
    background-size:120%;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

.aboutmeItemsWrap{
    height: 85vh;
    width:100%;
    display: flex;
    flex-direction: row;
    background-attachment: fixed;
}

.aboutMe li{
    list-style-type: none;
}

.aboutMeItems{
    position:relative;
    width:50%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity:0;
    transition:opacity 2s ease;
}

.aboutMeItemsContent{
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:baseline;
    gap:30px;
}

#aboutMeItemsContentRight{
    height:20vw;
    aspect-ratio: 1 /1;
}

.aboutMeContentImage{
    position:absolute;
    height:20vw;
    aspect-ratio: 1 /1;
    background-position:center;
    background-repeat: no-repeat;
    background-size:contain;
    opacity:0;
    transition:opacity 1s ease;
}

.aboutMe h2{
    font-family: "Krona One";
    font-size:2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color:var(--Normals-White);
    padding-bottom:30px;
}

#aboutMeitem-1{
    background-image:url("../../images/Liu.svg");
}

#aboutMeitem-2{
    background-image:url("../../images/personality.svg");
}

#aboutMeitem-3{
    background-image:url("../../images/world.svg");
}

#aboutMeitem-4{
    background-image:url("../../images/person.svg");
}


.aboutMeImageShow{
    opacity:1;
}

.aboutMeItemsShow{
    opacity:1
}
