.aboutMeCarrusell{
    height:100px;
    width:100%;
    position:relative;
}

.knowledgeIcon{
    background-size:contain;
    background-position: center;
    background-repeat:no-repeat;
    height:100px;
    width:100px;
}

.carouselItem{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hireMe{
    display:flex;
    flex-direction: row;
}

@media screen and (max-width: 900px) {
    .knowledgeIcon{
        height:50px;
        width:50px;
    }

    .aboutMeCarrusell{
        height:50px;
        width:100%;
    }
}