.aboutMeCarrusell{
    height:100px;
    width:100%;
    position:relative;
    /* bottom:50px; */
}

.knowledgeIcon{
    background-size:contain;
    background-position: center;
    background-repeat:no-repeat;
    height:100px;
    width:100px;
}

.carouselItem{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hireMe{
    display:flex;
    flex-direction: row;
}